<%- include('./template/header', {tituloWeb:'Crear Mascota'}) %>
<div class="container">
  <h1>Crear Mascota</h1>
  <form action="/mascotas" method="POST">
    <input
      type="text"
      class="form-control my-2"
      placeholder="Agregar nombre"
      name="nombre"
    />
    <input
      type="text"
      class="form-control my-2"
      placeholder="Agregar descripcion"
      name="descripcion"
    />
    <button type="submit" class="btn btn-success btn-block">Agregar</button>
  </form>
</div>
<%- include('./template/footer') %>
